<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="illustration2MainContainer">
        <img class="il2" src="../../assets/imgs/Illustration 2.png">
        <div class="illustration2Content">
            <h1>We Provide Many Features You Can Use</h1>
            <p>You can explore the features that we provide with fun and have their own functions each feature.</p>
            <div class="il2Benefits">
                <div class="benefitsContent">
                    <img  src="../../assets/imgs/check-circle.png">
                    <p>Powerfull online protection.</p>
                </div>
                <div class="benefitsContent">
                    <img  src="../../assets/imgs/check-circle.png">
                    <p>Internet without borders.</p>
                </div>
                <div class="benefitsContent">
                    <img  src="../../assets/imgs/check-circle.png">
                    <p>Supercharged VPN</p>
                </div>
                <div class="benefitsContent">
                    <img  src="../../assets/imgs/check-circle.png">
                    <p>No specific time limits.</p>
                </div>

                
                
            </div>
        </div>


    </div>
</body>
</html>