<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="headerNav">
          <div class="logoDiv">
            <img src="../../assets/imgs/Logo.png">
            <p>Lasles<strong>VPN</strong></p>
          </div>
          <div class="navBar">
            <a>About</a>
            <a>Features</a>
            <a>Pricing</a>
            <a>Testimonials</a>
            <a>Help</a>
          </div>
          <button class="signInBtn">Sign In</button>
          <button class="signUpBtn">Sign Up</button>
        </div>
      </div>
</body>
</html>