*{
    margin: 0;
    padding: 0;
}
.background {
    background: #F8F8F8;
    padding: 180px 140px 100px 140px;
}
.footerMainContainer {
    display: flex;
    flex-direction: row;
}
.logo img{
    width: 35px;
    height: 36px;
}
.logo{
    display: flex;
    align-items: center;
   
    margin-right: 16%;
    gap: 10px;
    
}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.footerSocials {
    display: flex;
    gap: 20px;
    
}
.footerSocials img {
    width: 50.6px;
    height: 50.6px;
    
}
.logoContainer {
    width: fit-content;
    margin-right: 20%;
}
.info {

    width: 340px;
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #4F5665;
margin-bottom: 10px;

}
.info span {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F5665;
}
 .name {
    color: #0B132A;
    font-family: Rubik;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;


}
.name span {
    color: #0B132A;
    
font-family: Rubik;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.year {
display: flex;
justify-content: start;
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
color: #AFB5C0;
text-align: center;

}
.year span {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #AFB5C0;
}
.footerContentContainer h4{
    font-family: Rubik;
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
    color: #0B132A;
}
.footerContentContainer a {
    font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #4F5665;
text-decoration: none;
}
.footerContentContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footerContentMainContainer {
    display: flex;
    flex-direction: row;
    gap: 126px;
}
.footerContentContainer a:hover {
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.3s;
}