
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="infoMainContainer">
        <div class="infoContentContainer">
            <img src="../../assets/imgs/user.png">
            <div class="infoContent">
                <h3>90+</h3>
                <p>Users</p> 
            </div>
           
        </div>
        
        <div class="infoContentContainer activeInfo">
            <img src="../../assets/imgs/location.png">
            <div class="infoContent">
                <h3>90+</h3>
                <p>Users</p> 
            </div>
           
        </div>

        <div class="infoContentContainer">
            <img src="../../assets/imgs/Server.png">
            <div class="infoContent">
                <h3>90+</h3>
                <p>Users</p> 
            </div>
           
        </div>
    </div>
</body>
</html>