<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="planTitle">
    <h1>Choose Your Plan</h1>
    <p>Let's choose the package that is best for you and explore it happily and cheerfully.</p>
</div>
<div class="productCardsContainer">
    <div class="productCards">
        <div class="productCardsContent">
            <img src="../../assets/imgs/Free.png">
            <h3>Free Plan</h3>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Unlimited Bandwitch</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Encrypted Connection</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>No Traffic Logs</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Works on All Devices</p>
            </div>
        </div>
        <div class="productCardsButtonAndPrice">
            <h2>Free</h2>
            <button class="selectBtn">Select</button>
        </div>
    </div>


    <div class="productCards">
        <div class="productCardsContent">
            <img src="../../assets/imgs/Standard.png">
            <h3>Standard Plan</h3>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Unlimited Bandwitch</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Encrypted Connection</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Yes Traffic Logs</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Works on All Devices</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Connect Anyware</p>
            </div>
        </div>
        <div class="productCardsButtonAndPrice">
            <h2>$9 <span class="price">/ mo</span></h2>
            <button class="selectBtn">Select</button>
        </div>
    </div>
    <div class="productCards">
        <div class="productCardsContent">
            <img src="../../assets/imgs/Premium.png">
            <h3>Premium Plan</h3>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Unlimited Bandwitch</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Encrypted Connection</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Yes Traffic Logs</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Works on All Devices</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Connect Anyware</p>
            </div>
            <div class="productBenefits">
                <img src="../../assets/imgs/greenDone.png">
                <p>Get New Features</p>
            </div>
        </div>
        <div class="productCardsButtonAndPrice">
            <h2>$12<span class="price"> / mo</span></h2>
            <button class="selectBtn">Select</button>
        </div>
    </div>
</div>
</body>
</html>
