<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <h1>Huge Global Network of Fast VPN</h1>
        <p>See <strong>LaslesVPN</strong> everywhere to make it easier for you when you move locations.</p>
    </div>
    <div class="mapAndSocialsMainContainer">
        <img src="../../assets/imgs/Huge Global.png">
        <div class="socialsContainer">
            <img src="../../assets/imgs/netflix.svg">
            <img src="../../assets/imgs/reddit.png">
            <img src="../../assets/imgs/amazon.png">
            <img src="../../assets/imgs/dc.png">

            <img src="../../assets/imgs/spotify.png">
        </div>
    </div>
</body>
</html>