.firstIlustrationContainer{
    display: flex;
    flex-direction: row;
    gap: 40px;
   
    margin: 100px 85px 103px 150px;
}
.firstIlustrationText{
    display: flex;
    flex-direction: column;
    
}
.firstIlustrationText button {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: #F53838;
    color: white;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    margin-top: 40px;
    text-align: left;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    box-shadow: 0px 10px 50px -15px #F53838;

    
}
.firstIlustrationText button:hover {
    background-color: rgb(239, 140, 140);
}
.firstIlustrationText h1 {
    font-family: Rubik;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    width: 555px;
    height: 140px;
    

}
.firstIlustrationText p {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 555px;
    height: 60px;
}
.firstIlustration img {

}

.firstIlustration {
    width: calc(100% - 610px);
    height: 100%;

}