<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise1</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  
    
</head>
<body>
  <div class="wrapper">
    <app-header></app-header>
  </div>
  <app-ilustration1></app-ilustration1>
  <div class="wrapper">
    <app-info-section></app-info-section>
    <app-illustration2></app-illustration2>
    <app-product-plans></app-product-plans>
    <app-map-and-socials></app-map-and-socials>
    <app-feedbacks></app-feedbacks>
    <app-subscribe></app-subscribe>
    
  </div>
  <app-footer></app-footer>
</body>
</html>